---
const { post } = Astro.props;
import Button from "../shared/Button.astro";
---

<article class="Post">
	<a href={post.url}>
		<h1 class="Post-title">
			{post.frontmatter.title}
		</h1>

		<img
			src={post.frontmatter.image.url}
			alt={post.frontmatter.image.alt}
			width={800}
			height={600}
			class="Post-image"
		/>
		<p class="Post-description">
			{post.frontmatter.description}
		</p>

		<Button
			link={`${post.url}`}
			buttonText="Leer"
			classes="Button Button-sm Button-primary"
		/>
	</a>
</article>

<style lang="scss">
	.Post {
		padding: 1em;
		background-color: var(--uiPurpleLight);
		gap: 1em;
		border-radius: 0.5em;

		&-title {
			font-size: 1.5rem;
			line-height: 1.2;
		}
		p {
			margin: 0;
		}

		&-image {
			width: 100%;
			object-fit: cover;
			aspect-ratio: 16/9;
		}

		a {
			text-decoration: none;
			:hover {
				text-decoration: underline;
			}
		}
	}
</style>
