---
import type { offeringItem } from "@/types/types";
interface Props extends offeringItem {}
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import Disclaimer from "./shared/Disclaimer.astro";
import Button from "./shared/Button.astro";

//My images

const { image, alt, title, description, price, id, youtubeLink } = Astro.props;

const images = import.meta.glob<{ default: ImageMetadata }>(
	"/src/assets/*.{jpeg,jpg,png,gif}"
);

if (!images[image])
	throw new Error(
		`"${image}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`
	);
---

<div class="Offering" id={id}>
	<div class="OfferingImageBox">
		<Image
			src={image}
			alt={alt}
			width={400}
			height={400}
			class="Offering-image"
		/>
	</div>
	<div class="Offering-text">
		<h1 class="Offering-title">{title}</h1>
		<p class="Offering-description">{description}</p>
		<div class="Offering-price">
			<span class="CLP">CLP $</span>
			{price.clp}
		</div>
		<div class="Offering-price">
			<span class="CLP">CLP $</span>
			{price.usd}
		</div>
		<div class="Disclaimer">
			<Disclaimer />
		</div>

		<div class="Offering-buttons">
			<Button
				link={youtubeLink}
				buttonText="Mírala en YouTube"
				classes="Button Button-primary Button-sm"
			/>
			<Button
				link={"/contact"}
				buttonText="Contáctame"
				classes="Button Button-sm"
			/>
		</div>
	</div>
</div>

<style lang="scss">
	.Offering {
		display: flex;
		flex-flow: column nowrap;
		background-color: var(--uiGrayDark);
		height: fit-content;
		color: whitesmoke;
		gap: 0.5em;
		border-radius: 0.5em;
		overflow: hidden;
		flex-grow: 1;
		justify-content: center;
		text-align: left;
		line-height: 1.2;

		.OfferingImageBox {
			overflow: hidden;
		}

		&-image {
			aspect-ratio: 1/1;
			object-fit: cover;
			transition: all ease 0.3s;
			display: block;

			&:hover {
				scale: 1.1;
				overflow: hidden;
			}
		}
		&-text {
			padding: 1em;
			display: flex;
			flex-flow: column nowrap;
			gap: 1em;
			font-size: 14px;
		}
		&-title {
			margin: 0;
			font-size: 1.2rem;
			font-weight: bolder;
		}
		&-description {
			margin: 0;
			font-size: 1rem;
		}
		&-price {
			font-size: 1.5rem;
			font-weight: bold;
			display: flex;
			align-items: center;
			gap: 0.3em;
			margin: 0;
		}
		.CLP {
			font-weight: 400;
			font-size: 0.8rem;
		}

		&-buttons {
			display: flex;
			gap: 1em;
			justify-content: flex-start;
		}
	}
</style>
